@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,300;0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #101010;
    color: white;
    font-family: Poppins, sans-serif;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

header img {
    width: auto;
    height: 50px;
}

